<div class="card p-4 w-100">
    <p class="fw-700 fs-16">Recent Transactions</p>

    <ul class="transaction-entry p-0">
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-down-left text-success"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$150 <i class="pi pi-arrow-up-right text-danger"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-up-right text-danger"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-down-left text-success"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-down-left text-success"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-down-left text-success"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-down-left text-success"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-up-right text-danger"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-up-right text-danger"></i></p>
        </li>
        <li class="d-flex justify-content-between w-100 border-bottom py-3">
            <div>
                <p class="m-0">Account ID</p>
                <p class="m-0">22/05/2023</p>
            </div>
            <p class="m-0 fw-700 fs-22">$240 <i class="pi pi-arrow-up-right text-danger"></i></p>
        </li>


    </ul>
</div>